body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

blockquote{
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #64B5F6;
}
.pagination li.active{
    background-color: #64B5F6;
}
div.form-error {
    display: none;
    color: #ef4040;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 28px;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}